{
  "extends": [
    "eslint:recommended",
    "prettier",
    "airbnb"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "node": true
  },
  "parserOptions": {
    "ecmaVersion": 8,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "no-console": "off",
    "strict": [
      "error",
      "global"
    ],
    "curly": "warn",
    "react/jsx-filename-extension": false
  },
  "parser": "babel-eslint"
}
